<div id="margin" class="container-fluid text-center">
    <h1 > Dashboard </h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
        <div class="card-body">
           <button data-toggle="collapse" data-target="#demo">Upload Schedule</button>

          <div id="demo" class="collapse">
             <p>This is a test</p>
          </div>
        </div>
        </div>
  
  
        </div>
  
<div class="col-sm-6">
  <div class="card">
  <div class="card-body">
      Make an Announcment 
  </div>
  </div>
  </div>

</div>
</div>
