<div class="container-fluid text-center">
    <h2 class = "float-left"> My Dashboard </h2>

<div class="margin" >
  <div class="row">
    <div class="col-sm-6">
<<<<<<< HEAD
        <div class="card">
        <div class="card-body">
           <button data-toggle="collapse" <span><%= link_to"Upload Schedule", images_path, class: "link_dec" %></span></button>

          <div id="demo" class="collapse">
             <p>This is a test</p>
          </div>
        </div>
        </div>
  
=======
         <%= image_tag("Lookoutsche.jpg", :alt => "Schedule", class: "img-fluid") %><br> 
        <button class = "Button-edit"><span> <%=link_to'Upload Schedule', new_image_path, class: "link_dec" %></span></button>
               
    </div>
 </div>
        
>>>>>>> 6cd4248d3f585bd43eb1f892275c47fa7f9a3623
  
  
    <div class="col-sm-6">
        
                 
           
    </div>
     
    </div>
</div>
