<div class="container-fluid text-center">
    <h2 class = "float-left"> My Dashboard </h2>

<div class="margin" >
  <div class="row">
    <div class="col-sm-6">
         <%= image_tag("Lookoutsche.jpg", :alt => "Schedule", class: "img-fluid") %><br> 
        <button class = "Button-edit"><span> <%=link_to'Upload Schedule', new_image_path, class: "link_dec" %></span></button>
               
    </div>
 </div>
        
  
  
    <div class="col-sm-6">
        
                 
           
    </div>
     
    </div>
</div>
