<div class="container-fluid text-center">
    <h2 class = "float-left"> My Dashboard </h2>

<div class="margin" >
  <div class="row">
    <div class="col-sm-6">
         <%= image_tag("Lookoutsche.jpg", :alt => "Schedule", class: "img-fluid") %><br> 
     
     
     <br><br>
        <%# @images.each do |image| %>
      <div>
        <h1>This weeks schedule</h1>
        <%= image_tag @images[0].picture %> <br>
        
        
        <% if current_user.admin %>
    
         <button><span> <%=link_to'Upload Schedule', new_image_path %></span></button>
     
        <button><%= link_to 'Delete Image', @images[0], method: :delete, data: { confirm: 'Are you sure?' } %></button>
        <% end %>
        
       
      
      </div>
  
     </li>
    </div>
 </div>
        
  
  
    <div class="col-sm-6">
        
                 
           
    </div>
     
    </div>
</div>
