<div id="margin" class="container-fluid text-center">
    <h1 > Dashboard </h1>

<div class="row">
    <div class="col-sm-6">
        
               <button class = "Button-edit"><span> <%=link_to'Upload Schedule', new_image_path, class: "link_dec" %></span></button>
               
          
            
          </div>
        </div>
        
  
  
    <div class="col-sm-6">
        
                 
           
    </div>
     
    </div>
</div>
