<h1>Announcements</h1>
<p>
    <strong>Title</strong>
    <%=@announcement.title%>
</p>
<p>
    <strong>Title</strong>
    <%=@announcement.text%>
</p>
<button><%= link_to 'Announcements List', announcements_path %></button>
<button><%= link_to 'Dashboard', welcome_index_path %></button>