<div class="container-fluid text-center">
    <h1>Employee or Manager?</h1>
    
    <button name="subject" type="submit" value="I'm An Employee">I'm An Employee</button>
    <button name="subject" type="submit" value="I'm An Manager">I'm An Manager</button>
</div>