<div class="container-fluid text-center">

   <div class="pic">
  <div class="backpic">
  </div>

</div>
<h1 id = "head">Lookout</h1>
   <h2>Work Scheduling Made Simple.</h2><br><br>
<button class = "Button-edit" type="Sign Up"> <span><%= link_to"Sign Up", signup_path, class: "link_dec" %></span></button><br><br>
<button class = "Button-edit" type="Login"> <span><%= link_to"Login", login_path, class: "link_dec" %></span></button><br><br>