<div class="container-fluid text-center">

   <div class="pic">
  <div class="backpic">
  </div>

</div>
<h1>Lookout</h1>
   <h2>Work Scheduling Made Simple.</h2><br><br>


<button class = "Button-edit" type="Admin"> <span><%= link_to"Admin", welcome_index_path, class: "link_dec" %></span></button><br><br>

<button class = "Button-edit" type="Employee"> <span><%= link_to"Employee", images_path, class: "link_dec" %></span></button><br><br>

</div>