<div class="container-fluid text-center">

   <div class="pic">
  <div class="backpic">
  </div>

</div>
   <% if current_user %>
  Logged in as <%= current_user.email %>.
 <%= render 'dashboard' %>
<% else %>
  <%= render 'home' %>
<% end %>



