<div class="container-fluid text-center">
   <h1 id = "head"1>Lookout</h1>
   <h2>Work Scheduling Made Simple.</h2><br><br>
   <button class = "Button-edit" type="Login"><span>Login </span></button><br><br>
   <button class = "Button-edit" type="SignUp"><span>SignUp</span></button>
</div>