// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shift {
    margin-left: 350px;
}

.shifts {
    margin-left: 455px;
    width: 450px;
}

.shiftss {
    margin-left: 570px;
}